.idea

###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/public/assets
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
