.home-container {
  background-color: #0b0f27;
  height: 100vh;
}

.home-background {
  background-image: url("/img/home-background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
}
