{% extends 'base.html.twig' %}

{% block title %}Testio ✅{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app.min.js') }}"></script>
{% endblock %}
