{% extends 'base.html.twig' %}

{% block title %}Testio ✅{% endblock %}

{% block meta %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/app.min.css') }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/app.min.js') }}"></script>
{% endblock %}
